// JourneyMap configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft
// For help with this file, see http://journeymap.techbrew.net/help/wiki/Configuration_Files
{
  "revision": {
    "value": 2
  },
  "logLevel": {
    "value": "INFO"
  },
  "chunkOffset": {
    "value": 8
  },
  "entityPoll": {
    "value": 1800
  },
  "playerPoll": {
    "value": 1900
  },
  "chunkPoll": {
    "value": 2000
  },
  "cacheAnimalsData": {
    "value": 3100
  },
  "maxAnimalsData": {
    "value": 32
  },
  "cacheMobsData": {
    "value": 3000
  },
  "maxMobsData": {
    "value": 32
  },
  "cachePlayerData": {
    "value": 1000
  },
  "cachePlayersData": {
    "value": 2000
  },
  "maxPlayersData": {
    "value": 32
  },
  "cacheVillagersData": {
    "value": 2200
  },
  "maxVillagersData": {
    "value": 32
  },
  "caveLighting": {
    "value": 1
  },
  "announceMod": {
    "value": 1
  },
  "checkUpdates": {
    "value": 1
  },
  "caveGreySurface": {
    "value": 0
  },
  "caveIgnoreGlass": {
    "value": 1
  },
  "advancedSurfaceCheck": {
    "value": 1
  }
}