// JourneyMap configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft
// For help with this file, see http://journeymap.techbrew.net/help/wiki/Configuration_Files
{
  "revision": 2,
  "managerEnabled": {
    "value": 1
  },
  "beaconEnabled": {
    "value": 1
  },
  "showTexture": {
    "value": 1
  },
  "showStaticBeam": {
    "value": 1
  },
  "showRotatingBeam": {
    "value": 1
  },
  "showName": {
    "value": 1
  },
  "showDistance": {
    "value": 1
  },
  "autoHideLabel": {
    "value": 1
  },
  "boldLabel": {
    "value": 0
  },
  "forceUnicode": {
    "value": 0
  },
  "fontSmall": {
    "value": 1
  },
  "textureSmall": {
    "value": 1
  },
  "maxDistance": {
    "value": 0
  }
}