// JourneyMap configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft
// For help with this file, see http://journeymap.techbrew.net/help/wiki/Configuration_Files
{
  "revision": {
    "value": 2
  },
  "enabled": {
    "value": 1
  },
  "port": {
    "value": 8080
  },
  "browserPoll": {
    "value": 2000
  },
  "showMobs": {
    "value": 1
  },
  "showAnimals": {
    "value": 1
  },
  "showVillagers": {
    "value": 1
  },
  "showPets": {
    "value": 1
  },
  "showPlayers": {
    "value": 1
  },
  "showWaypoints": {
    "value": 1
  },
  "showSelf": {
    "value": 1
  }
}